main {
    background-color: #fff67c;
    height: 100%;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    font-family: consolas;
}

.trupti {
    background-color: #a647ff;
    color: white;
    border-radius: .5rem;
}

main::selection {
    background-color: #ff059b;
}

.shweta {
    background-color: #ff59bd;
    padding: 1rem;
    border-radius: .2rem;
}