<!DOCTYPE html>
<html>
  <head>
    <title>index page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is index page</h1>
    <a href="login">Login</a>
    <a href="signup">Sign Up</a>
  </body>
</html>
